*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

a, a:visited {
    color: inherit; /*без выделения цвета. Наследуют цвет body*/
    text-decoration: none; /*убираем подчеркивание*/
}

a:hover {
    color: inherit; /*без выделения цвета. Наследуют цвет body*/
    text-decoration: none; /*убираем подчеркивание*/
}

a:focus,
a:active {
    outline: none;
}

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit; /*размер такой же как в body*/
    font-weight: inherit; 
    line-height: inherit;
}

p + p {
    margin-top: 1em;
}

ul {
    list-style: none; /*убрать маркеры у ul*/
}

img, svg {
    vertical-align: top; /**/
    max-width: 100%; /*картинка не выходит за пределы блока*/
    height: auto;
}

address {
    font-style: normal;
  }
  
input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
  }
