.news-section {
    margin-top: 50px;
    margin-bottom: 100px;
}

.news-head {
    display: flex;
}

.head-text {
    font-size: 40px;
    font-weight: bold;
}

.news-row {
    display: flex;
    justify-content: center;
}


.news-block {
    display: grid;
    padding: 10px;
    width: 500px;
    height: 600px;
    margin: 30px;
    grid-template-rows: 50% 40% 5%;
    grid-gap: 15px;
    transition: box-shadow 0.3s;

}

.news-block:hover {
    box-shadow: 4px 5px 50px 10px #bd1f04;    
}


/* 
    8px - отступ по оси Х
    10px - отступ по оси Y
    5px - радиус размытия тения
    2px - радиус распространения
    rgba - функция формирующая цвет тени  */


.block-img-section {
    overflow: hidden;
}
 
.block-text-section {
    font-family: Ubuntu Mono;
    font-size: 22px;
    font-weight: 400;
    overflow: hidden;
}

.block-text-section h2 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
}

.block-text-section p{
    font-size: 18px;
    font-weight: 100;
    
}

.block-date-section {
    justify-self: right;
}

@media (max-width: 767px) {

    .news-section {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .news-row {
        flex-flow: column;
        align-items: center;
        
    }

    .head-text {
        font-size: 35px;
    }

    .news-block {
        padding: 10px;
        width: 100%;
        margin: 10px;
        height: 500px;
    }

}


