h2 {
    font-size: 22px;
    font-weight: 800;
    margin-right: 10px;
    margin-bottom: 30px;
}

h1 {
    font-size: 30px;
    font-weight: 800;
    margin: 20px 0 20px;
}

.timetable-wrapper {
    display: flex;
    flex-flow: column;
    margin: 10px 0 30px;
    padding: 5px;
}

.select {
    margin-top: 2px;
}

.group-select {
    display: flex;
    align-items: start;

}

.schedule {
    align-self: center;
}



.timetable:not(.active) {
    display: none;
}

caption {
    margin: 10px 0 10px;
}



@media (max-width: 1120px) {
    .timetable-wrapper {
        min-height: 650px;
    }

}


@media (max-width: 767px) {

    h2 {
        font-size: 16px;
        font-weight: 800;
        margin-right: 10px;
        margin-bottom: 30px;
    }
    
    h1 {
        font-size: 20px;
        font-weight: 800;
        margin: 20px 0 20px;
    }

    .select {
        font-size: 14px;
    }

    .timetable-wrapper {
        min-height: 450px;
    }
    
}
