.grid-wrapper {
    font-family: Ubuntu Mono;
    padding: 10px;
    display: grid;
    grid-template-columns: 40% auto;
    column-gap: 30px;
}

.first-column {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 15px;
}

.text-block {
    margin-bottom: 50px;    
}

h2 {
    font-weight: 800;
    font-size: 30px;
    margin: 5px 0 20px;
}

img {
    border-radius: 15px;
}


@media (max-width: 767px) {

    .grid-wrapper {
        grid-template-columns: 100%;
    }

    h2 {
        font-weight: 800;
        font-size: 25px;
        margin: 5px 0 20px;
    }

    .text-block p {
        font-size: 16px;
    }

    .text-block {
        margin-bottom: 20px;
    }

}
